{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<title>Support</title>
{% endblock meta %}

{% block content %}
  <div class="support">
    <h2 style="font-weight: 700; color: #FCDAB7;">Kirimkan Pesan Kepada Kami Melalui Form Di Bawah Ini</h3>
    <br>
    <br>
    
      <form action = " " method="POST" class = form-group>
        <div class="form-row">
          <div class="form-group">
            {% csrf_token %}
            <h5 style="color:white; font-size: 24px;">Email Anda</h5>
            <br>
            {{form.email|as_crispy_field}}
            <br>
            <br>
            <h5 style="color:white; font-size: 24px;">Pesan Anda</h5>
            <br>
            {{form.pesan|as_crispy_field}}
            <br>
            <br>
            <br>
            <div class="input-row">
              <input type="submit" name="submit" value= "Kirimkan" style="justify-content: center; border-style: none; color: #1D2D50; border-radius: 30px; width: 126px; font-size: 15px; font-weight: 700; padding: 5px; background-color: #FCDAB7;">
            </div>
            
          </div>
        </div>
   
      </form>
  </div>
  {% endblock %}