/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: white;
  font-size: 2vh;
}

.btn-logout {
    background-color: #FCDAB7;
    color: #1D2D50;
    border-style: unset;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    transform: translateY(-4px);
}

/* Main Page Support */
.container{
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.support{
  padding: 30px;
}

/* Navbar */

.navbar-nav li {
  margin: 10px;
}

.navbar-brand {
  margin-left: 10px;
}

#nav_main {
  padding: 16px 20px;
}

nav{
  background: rgba(0, 0, 0, 0.5);
  opacity: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 0;
  position: relative;
}
.navbar-nav{
  margin-left: auto;
  opacity: 100%;

}

.navbar img{
  margin-left: 60px;
}
.navbar a{
  margin-right: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 2.3vh;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #1E5F74 !important;
}

/* Body Class Id Element */
.asteriskField {
  display: none;
}
label{
  display: none;
}

#id_email{
  width:403px;
  height: 34px;
}
#id_pesan{
  width:964px;
  height: 192px;
}


.row{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 100px;
  padding-bottom: 100px;
}
h2{
  font-size: 30px;
}

h1{
  color: #1E5F74 !important;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif !important;
  text-align: center;
  margin-bottom: 30px;
}
.h3, h3{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-left: 200px;
  padding-right: 200px;

}
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-primary{
  justify-content: center;
  background-color:  #FCDAB7 !important;
  color:#1D2D50;
  border-radius: 30px;
  border-color: transparent;
  width: 216px;
  font-size: 15px;
  font-weight: 700;
  margin: 20px;
  padding: 10px;
}

/* End */
@media screen and (max-width:1005px) {
  #id_email{
    width:350px;
    height: 34px;
  }
  #id_pesan{
    width:800px;
    height: 192px;
  }
}
@media screen and (max-width:850px) {
  #id_email{
    width:300px;
    height: 34px;
  }
  #id_pesan{
    width:700px;
    height: 192px;
  }
  h1{
    font-size: 30px;
    margin-bottom: 16px;
  }

  .h3, h3{
    font-size: 16px;
  }
}

@media screen and (max-width:700px) {
  #id_email{
    width:200px;
    height: 30px;
  }
  #id_pesan{
    width:500px;
    height: 162px;
  }
  h1{
    font-size: 30px;
    margin-bottom: 18px;
  }

  .h3, h3{
    font-size: 18px;
  }
  .row{
    padding: 20px;
    padding-bottom: 20px;
  }
  .btn-primary{
    width: 175px;
    font-size: 12px;
    font-weight: 700;
    margin: 10px;
    padding: 7px;
  }
}

@media screen and (max-width:600px) {
  #id_email{
    width:180px;
    height: 30px;
  }
  #id_pesan{
    width:350px;
    height: 162px;
  }
  h2{
    font-size: 25px;
    text-align: center;
  }
  h1{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  .h3, h3{
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .row{
    padding: 15px;
    padding-bottom: 20px;
  }

  .btn-primary{
    width: 175px;
    font-size: 12px;
    font-weight: 700;
    margin: 10px;
    padding: 7px;
    left: 30px;
  }
  
}

@media screen and (max-width:500px) {
  
  #id_email{
    width:269px;
    height: 34px;
  }
  #id_pesan{
    width:269px;
    height: 150px;
  }
  .form-group{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  h2{
    font-size: 25px;
    text-align: center;
  }
  h5{
    font-size: 24px;
    text-align: center;
  }
  .form-group{
    align-items: center;
  }
  h1{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  .h3, h3{
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row{
    padding: 10px;
    padding-bottom: 20px;
  }
  s
  .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-primary{
    width: 150px;
    font-size: 10px;
    font-weight: 700;
    margin: 10px;
    padding: 7px;
  }
  
}

@media screen and (max-width:350px) {

  h1{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  .h3, h3{
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .row{
    padding: 40px;
  }

  .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-primary{
    justify-content: center;
    width: 150px;
    font-size: 10px;
    font-weight: 700;
    margin: 10px;
    padding: 7px;
  }
}
@media screen and (max-width:380px) {

  #id_email{
    width:269px;
    height: 34px;
  }
  #id_pesan{
    width:269px;
    height: 150px;
  }
  .form-group{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  h2{
    font-size: 25px;
    text-align: center;
  }
  h5{
    font-size: 24px;
    text-align: center;
  }
  .form-group{
    align-items: center;
  }
}