@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #1E5F74;
  font-size: 2vh;
}

.contact_header_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.contact_header {
    font-size: 5vh;
    text-align: center;
    color: #FCDAB7;
    font-weight: bold;
}

.contact_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-flow: row wrap;
}

.setiap_kontak {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-flow: row wrap;
    transform: translateX(5vh);
}

.pertama_contact {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 300px;
}

.pertama_sub {
    font-size: 3vh;
    color: #FCDAB7;
    margin: 20px;
}

.kedua_sub {
    font-size: 3vh;
    color: white;
    margin: 20px;

}

.wave_container {
    display: block;
}

.btn-logout {
    background-color: #FCDAB7;
    color: #1D2D50;
    border-style: unset;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    transform: translateY(-4px);
}

.navbar-nav li {
  margin: 10px;
}

.navbar-brand {
  margin-left: 10px;
}

#nav_main {
    padding: 16px 20px;
}

nav{
  background: rgba(0, 0, 0, 0.5);
  opacity: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 0;
  position: relative;
}
.navbar-nav{
  margin-left: auto;
  opacity: 100%;

}
.navbar img{
  margin-left: 60px;
}
.navbar a{
  margin-right: 55px;
  font-family: 'Nunito', sans-serif;
  font-size: 2.3vh;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: white !important;
}

@media screen and (max-width:1025px) {
    .navbar img {
        width: 30px;
        margin-left: 10px;
    }

    .navbar a {
        font-size: 2.3vh;
    }

    .pertama_contact {
        text-align: center;
        margin: 20px;
        padding: 0px 0px;
        width: unset;
    }

    .kedua_sub {
        font-size: 2.7vh;
    }
    /* Navbar (END)*/
    .contact_header_container {
        margin-bottom: 20px;
    }

    .setiap_kontak {
        transform: unset;
    }
}

@media screen and (min-width:700px) and (max-width: 1024px) {
    .contact_header_container {
        margin-top: 150px;
    }

    .empty_section {
        height: 100px;
        width: 100%;
    }
}