{% extends 'base_articles.html' %}
{% load static %}
{% block cdnscript %}
{% endblock %}
{% block content %}
    <header class="container_judul">
        <a href="{% url "articles" %}" style="text-decoration: none">
        <h1 class="landing_judul">
            Semua Artikel
        </h1>
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'ajax_articles' %}">
            <img src="{% static 'image/plus 2.svg' %}" class="plus" alt="">
        </a>
        {% endif %}
    </header>
    {% if user.is_authenticated %}
    {% else %}
        <div class="no-login">
             <p>Silahkan login untuk menambahkan artikel</p>
        </div>
    {% endif %}

    <div class="btn_search_cont">
        <input id="keyword" placeholder="Masukan Judul Artikel" class="form-control">
        <button class="searchButton"> Cari Artikel</button>
        <button class="searchButton2"> <img src="{% static 'image/search.svg' %}" class="search_logo"></button>
    </div>

    <section class="container_articles">
    </section>

    {% if jumlah_semua_artikel == 0 %}
        {% if user.is_authenticated %}
        <h1 class="tidak_ada_artikel">
            Wah belum ada artikel nih, tekan tombol + untuk menambahkan artikel...
        </h1>
        {% endif %}
    {% endif %}
    <script src="{% static 'js/articles_js.js' %}"></script>
{% endblock %}
