{% extends "base_articles.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <header class="container_judul">
        <h1 class="landing_judul">
            Tambahkan Artikel
        </h1>
    </header>
    <section class="container_form">
        <form action="" method="post" enctype="multipart/form-data" id="formUtama">
              {% csrf_token %}
              {{ form|crispy }}
             <input type="submit" value="Submit" class="btn btn-primary" id="submitButton" />
        </form>
    </section>
    <script>
        $(function () {
          $("#id_tanggal").datepicker({
          format:'yyyy-mm-dd',
        });
        });
    </script>
{% endblock %}
