{% extends 'basekuesioner.html' %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
  </head>
  <body>
    {% block content %}
    <div class="container1">
      <div class="bulat">
        <div class="logo_bulat"><img src="{% static 'image/Bulat.svg' %}" alt="Logo Bulat" id="logo_bulat"></div>
        <div class="text1">SELF CHECK UP COVID-19</div>
        <div class="text2">Cek risiko Covid-19 dengan menjawab beberapa pertanyaan di sini</div>
        <div class="virus"><img src="{% static 'image/Virus.svg' %}" alt="Logo Virus"></div>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-nama">
          <label for="">Masukan nama lengkap Anda</label>
          <br>
          {{ form.Nama }}
        </div>
        <div class="form-check">
          <label for="">Apakah pernah keluar rumah atau tempat umum (pasar, fasyankes, kerumunan orang, dan lain lain)?</label>
          <br>
          <div class="checkboxinput" id="checkboxinput">{{ form.Pertanyaan1 }}<br></div>
        </div>
        <div class="form-check">
          <label for="">Apakah pernah menggunakan transportasi umum?</label>
          <br>
          <div class="checkboxinput" id="checkboxinput">{{ form.Pertanyaan2 }}<br></div>
        </div>
        <div class="form-check">
          <label for="">Apakah pernah melakukan perjalanan ke luar kota atau internasional? (wilayah yang terjangkit atau zona merah)</label>
          <br>
          <div class="checkboxinput" id="checkboxinput">{{ form.Pertanyaan3 }}<br></div>
        </div>
        <div class="form-check">
          <label for="">Apakah anda mengikuti kegiatan yang melibatkan orang banyak?</label>
          <br>
          <div class="checkboxinput" id="checkboxinput">{{ form.Pertanyaan4 }}<br></div>
        </div>
        <div class="form-check">
          <label for="">Apakah memiliki riwayat kontak erat dengan orang yang dinyatakan ODP, PDP atau konfirm COVID-19 (berjabat tangan, berbicara, berada dalam satu ruangan/ satu rumah)?</label>
          <br>
          <div class="checkboxinput" id="checkboxinput">{{ form.Pertanyaan5 }}<br></div>
        </div>
        <div class="form-check">
          <label for="">Apakah pernah mengalami demam atau batuk/pilek/sakit tenggorokan atau sesak dalam 14 hari terakhir?</label>
          <br>
          <div class="checkboxinput" id="checkboxinput">{{ form.Pertanyaan6 }}<br></div>
        </div>
        <div class="kirim"><input id="kirim" type="submit" value='Selesai' /></div>
        
      </form>
      <div class="list_container">
        <button class="list_kuesioner">
          <a class="a_list_kuesioner" href="{% url 'listkuesioner' %}">List Semua Hasil Assessment</a>
        </button>
      </div>
      
      
    </div>
    <div class="imagefooter"><img src="{% static 'image/wave.svg' %}" alt="Image Footer"></div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/kuesioner_js.js' %}"></script>
  </body>
  {% endblock %}
</html>