{% extends 'basekuesioner.html' %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
  </head>

  <body>
    {% block content %}
    <div class="container1">
      <div class="kuesioner_search_box">
        <label for="data_kuesioner">Cari Data</label>
        <input type="text", name="data_kuesioner", id="data_kuesioner">
        <button id="search_kuesioner">Search</button>
      </div>
      <div class="title_table">Tabel data Self Assessment</div>
      <div id="no_kuesioner_container"></div>
      <div class="container_table">
        <table class="table table-bordered">
          <thead class="">
            <tr>
              <th scope="col">Nama</th>
            </tr>
          </thead>
          <tbody id="kuesioner_container">
          </tbody>
        </table>
      </div>
    </div>
    <div class="imagefooter"><img src="{% static 'image/wave.svg' %}" alt="Image Footer"></div>    
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/kuesioner_js.js' %}"></script>
    
  </body>
  {% endblock %}
</html>